body{
	font-family: 'Montserrat', sans-serif;
}
/* Reset */
ul,
ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}
button{
	box-shadow: none;
	background: transparent;
	border: 0px;
}
a,a:hover,a:focus{
	text-decoration: none;
}
input{
	border: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[disabled]{
	background: #fff;
}
img{
	width: auto;
	max-width: 100%;
}
/* area and grid */
.grid-100{
	background: #fff;
	padding: 0 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.grid-100 > div{
	display: inline-block;
	margin: 0 5px;
	font-size: 16px;
}
.grid-100 svg{
	vertical-align: middle;
	width: 32px;
	height: 32px;
}
.area{
	background-color: #f5f5f5;
}
.area-51{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: calc(100vh - 52px);
	margin: 10px;
	overflow: hidden;
}
.grid-40{
	position: relative;
	width: calc(40%);
	min-height: 1px;
	background: #fff;
}
.grid-60{
	position: relative;
	width: calc(60% - 30px);
	min-height: 1px;
}
.grid-20{
	position: relative;
	width: calc(20%);
	min-height: 1px;
	background: #fff;
}
.grid-80{
	position: relative;
	width: calc(80%);
	min-height: 1px;
}
/* Tab Section */
.nav-tabs,
.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	border: 0px;
	border-bottom: 2px solid transparent;
	padding: 12px 26px;
	border-radius: 0px;
	font-size: 14px;
	color: #c7d1d8;
}
.nav-tabs{
	padding: 12px 12px;
	background: #283e4a;
	margin-bottom: 10px;
}
.nav-tabs>li:hover>a,
.nav-tabs>li:focus>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	background: #fff;
	color: rgba(0,0,0,.85);
	border-bottom: 2px solid #fff;
}
/* tab content */
.tab-content{
	background: #fff;
	padding: 12px;
}
.product-list{
	height: 70vh;
	overflow-y: scroll;
}
.product-list-items{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.items-box{
	width: 146px;
	height: 50px;
	margin: 10px;
	letter-spacing: 1px;
	background-color: #0084bf;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	box-sizing: content-box;
	position: relative;
}
.items-box:hover,
.items-box:focus{
  background-color: #0073b1;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
  0 3px 1px -2px rgba(0,0,0,.2), 
  0 1px 5px 0 rgba(0,0,0,.12);
}

.items-name{
	margin: 0px;
	color: #fff;
}
.item-count{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background: #ff0000;
	border: 1px solid #f00;
	box-shadow: none;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 4px;
}

/* Product Count Warning */
[count~="less-5"]{
	background: #f00;
	border-color: #f00;
}
[count~="less-10"]{
	background: #f0ad4e;
	border-color: #f0ad4e;
	opacity: 0.7;
}

/* cart */
.cart-items-list-cover{
	width: 100%;
	flex-direction: column;
	display: flex;
}
.cart-body{
	height: 53vh;
	overflow-y: scroll;
	flex: 1 0 auto;
	position: relative;
}
/* cart 404 */
.items-cart .section-info ul li.no-items{
	display: none;
	border: 0px;
	justify-content: center;
	align-items: center;
}
.cart-image{
	text-align: center;
	background: #efefef;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 50px 0;
	opacity: 0.5;
}
.cart-image svg{
	width: 60px;
	height: auto;
	margin-bottom: 20px;
	opacity: 0.5;
}
.cart-image p{
	margin-bottom: 0px;
}
.cart-footer,
.section-info{
	position: relative;
}
.cart-info,
.items-cart,
.items-cart .section-info ul{
	width: 100%;
	padding: 0px;
	position: relative;
}
.items-cart{
	padding: 0px 15px;
}
/* cart content */
.items-cart .section-info ul {
	counter-reset: section 0;
}
.items-cart .section-info ul li:first-child .s-no:before{
	content: none;
}
.items-cart .section-info ul li .s-no:before{
	counter-increment: section;   
  content: counter(section);
}
.items-cart .section-info ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}
.items-cart .section-info ul li input{
	width: 50px;
}
.count-action{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.count-action > span{
	padding: 0;
	font-weight: bold;
	border: 1px solid #e5e5e5;
}
.count-action > span.items-count {
  padding: 5px;
  border: 0;
}
/* cart title */
.items-cart .section-info .title{
	padding: 12px 12px;
	background: #283e4a;
	margin-bottom: 10px;
	margin: 0px -12px;
	color: #fff;
}
.items-cart .section-info .items-list .items-name{
	color: #000;
}
.items-cart .section-info .title .s-no,
.items-cart .section-info .items-list .s-no{
	flex: 0.5;
}
.items-cart .section-info .title .items-name,
.items-cart .section-info .items-list .items-name{
	flex: 3;
}
.items-cart .section-info .title .count-action,
.items-cart .section-info .items-list .count-action{
	flex: 2;
	margin: 0px 5px;
	text-align: center;
}
.items-cart .section-info .title .items-amout,
.items-cart .section-info .items-list .items-amout{
	flex: 1.5;
}
.items-cart .section-info .title .item-del,
.items-cart .section-info .items-list .item-del{
	flex: 0.5;
}

/* cart item action */
.btn-minus,
.btn-plus,
.btn-del{
	width: 32px;
	height: 32px;
	background: #fff;
	color: #fff;
	border: 1px solid #323232;
	border-radius: 50%;
}
.gradiantBlock {
  width: 100%;
  height: 40px;
  position: absolute;
  top: -40px;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 45%, #fff 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 45%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 45%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
}
/* cart Footer */
.total-list ul li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	padding: 5px 10px;
	font-size: 14px;
}
.total-list ul li input{
  border: 0px;
  width: 100px;
  text-align: right;
  font-weight: bold;
}
.total-list li:first-child{
	border: 0px;
}
.total-list li:last-child{
	border: 0px;
	font-size: 30px;
	padding: 12px;
}

.cart-action{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}
.pay-now{
	flex: 1;
	padding: 12px;
	font-size: 26px;
	margin: 10px;
	background: green;
	color: #fff;
	text-align: center;
}
.cancel-now{
	flex: 1;
	padding: 12px;
	font-size: 26px;
	margin: 10px;
	background: #fff;
	color: #000;
	border: 1px solid #000;
}
/* payment page */
.payment-setion img{
	width: 60px;
	height: auto;
}
/*.payment-setion{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}*/
.payment-setion .grid-20 > ul.nav-tabs{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.payment-setion .grid-20 > ul.nav-tabs li{
	width: 200px;
	height: auto;
}

/* */
.payment-setion .tab-pane .tab-content-area{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.payment-setion .tab-pane  section{
	width: 50%;
}
.payment-setion .tab-pane  section.left-side{
	border-right: 1px dashed #e5e5e5;
}
.section-header{
	width: 100%;
	padding: 10px;
	margin: 10px;
	background: red;
}
.cash-section{
	margin: 0 auto;
	text-align: center;
}
.cash-section label,
.cash-section input{
	display: inline-block;
	text-align: center;
	background: transparent;
	font-size: 26px;
	font-weight: normal;
}
.cash-given-list ul > li{
	padding: 5px 0px;
}
.cash-given-list ul > li.need-to-pay{
	border-bottom: 1px solid #000;
}
.cash-given-list ul > li.amount-given{
	border-top: 1px solid #000;
}

.cash-given-list ul > li .number input{
	text-align: right;
}

/* payment action */

.btn-cancel,
.btn-print{
	width: 128px;
	height: auto;
	background: #fff;
	color: #fff;
	padding: 15px;
	margin: 15px;
}
.btn-cancel{
	border-right: 1px solid #323232;
}
.payment-action-trigger{
  margin-top: 15px;
  border-top: 1px solid #323232;
  width: 100%;
  text-align: center;
}

/* card section */
.payment-setion .tab-pane.card-section .tab-content-area{
	flex-direction: column;
	justify-content: center;
}
.payment-setion .tab-pane.card-section input{
	border: 1px solid;
}